<div class="border hover:border-l-2 hover:border-l-emerald-500 rounded p-4 h-[300px] bg-slate-100 overflow-hidden text-justify">
    <h3 class="text-lg font-semibold"><ng-content select="#title"></ng-content></h3>
    <p class="text-md"><ng-content select="#company"></ng-content></p>
    <p class="text-md"><ng-content select="#location"></ng-content></p>

    <ng-content select="#tags"></ng-content>
    
    <div class="mt-2 mb-2">
        <ul class="inline-flex gap-4 text-sm">
            <li><i class="bi bi-arrow-right-circle-fill text-md text-blue-600"></i> Easily Apply</li>
            <li><i class="bi bi-clock-fill text-md text-rose-500"></i> Urgent Hiring</li>
            <li><i class="bi bi-lightning-fill text-md text-yellow-500"></i> Responsive Seller</li>
        </ul>

    </div>
    <div>
        <ng-content select="#description"></ng-content>
    </div>
</div>

