<app-nav class="sticky top-0 z-50 "></app-nav>
<div class="max-w-5xl mx-auto mt-6 px-2 md:px-0 z-30">
    <h1 class="text-lg font-semibold">Search {{params}} <i class="bi bi-search text-lg"></i></h1>
    <div class="grid grid-cols-1 lg:grid-cols-2 mt-6 gap-10">
        @for (job of jobsData(); track $index) {
                <app-card (click)="navigate(job.id)" class="hover:cursor-pointer">
                    <p id="title">{{job.title}}</p>
                    <span id="company">{{job.company}}</span>
                    <span id="location">{{job.location}}</span>
                    <ul id="tags" class="inline-flex flex-wrap gap-2 text-sm">
                        <li class="bg-emerald-200 px-2 rounded-full text-emerald-950">{{job.salary}}</li>
                        @for (tag of job.tags; track $index) {
                            <li class="bg-emerald-200 px-2 rounded-full text-emerald-950">{{tag}}</li>
                        }
                    </ul>
                    <p id="description" class="text-sm">{{job.description}}</p>
                    <small class="time">{{job.postedDate | customDatePipe}} <i class="bi bi-clock-fill text-gray-800"></i></small>
                </app-card>
        }
        @empty {
            <div class=" border mx-2 lg:mx-0 bg-slate-100 p-4">
                <div class="flex justify-center items-center gap-5">
                    <h2 class="text-2xl">No jobs found</h2>
                    <div class="img-container">
                        <img src="https://media4.giphy.com/media/xYJhVe7tIy8KUZCwkW/giphy.gif?cid=6c09b952pmb2b1dxlpfx5vqkul1ja8nn3yhhlhqupxmedduv&ep=v1_gifs_search&rid=giphy.gif&ct=s" alt="" class="w-[75px]">
                    </div>
                </div>
            </div>
        }
    </div>
</div>