<app-nav></app-nav>
<div class="max-w-5xl mx-auto">
    <div class=" mt-20 border p-10 mx-2 lg:mx-0 bg-slate-100 border-l-4 border-l-emerald-500">
        <div class="flex justify-center items-center gap-5">
            <h2 class="text-2xl">You need to login first.</h2>
            <div class="img-container">
                <img src="https://images.emojiterra.com/google/noto-emoji/unicode-15/animated/1f605.gif" alt="" class="w-[75px]">
            </div>
        </div>
        <h3 class="text-center"><a routerLink="/login" class="text-blue-500 underline">Click here to login</a></h3>
    </div>
</div>