<app-nav-employer></app-nav-employer>

<div class="max-w-5xl mx-auto  mt-8">
    <div class="w-full relative border-transparent border shadow-md ">
        <button type="button" class="bg-blue-800 text-white rounded-full px-3 py-1 text-sm absolute top-0 right-0 m-2 " routerLink="/employer-page/create">Add</button>
        <h1 class="absolute top-0 left-0 m-2 text-blue-800 text-xl font-semibold">Job listings</h1>

        <table class=" w-full mt-10 ">
            <thead class="uppercase border-b-2 border-b-blue-800">
                <tr class="">
                    <th class="text-start p-2">Title</th>
                    <th class="text-start p-2">Posted At</th>
                    <th class="text-start p-2">Expires At</th>
                </tr>
            </thead>
            <tbody class="text-sm ">
                <tr class="hover:bg-slate-200 hover:cursor-pointer ">
                    <td class="p-2 ">asdffdasasdf</td>
                    <td class="p-2 ">asdffdasasdf</td>
                    <td class="p-2 ">asdffdasasdf</td>
                </tr>
                <tr class="hover:bg-slate-200 hover:cursor-pointer ">
                    <td class="p-2 ">asdffdasasdf</td>
                    <td class="p-2 ">asdffdasasdf</td>
                    <td class="p-2 ">asdffdasasdf</td>
                </tr>
                <tr class="hover:bg-slate-200 hover:cursor-pointer ">
                    <td class="p-2 ">asdffdasasdf</td>
                    <td class="p-2 ">asdffdasasdf</td>
                    <td class="p-2 ">asdffdasasdf</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>