<app-nav></app-nav>
<div class="max-w-5xl  mx-auto p-2 lg:p-0">
    <div class="mt-8 sticky top-0 z-50 bg-slate-50 border-l-2 border-l-emerald-500 shadow-md p-4 max-w-lg md:max-w-full lg:max-w-lg ">
        <h3 class="text-2xl font-semibold">
            {{jobData.position}}
        </h3>
        <p class="mt-2"><i class="bi bi-buildings text-md text-slate-500"></i> {{jobData.company}}</p>
        <p class="mt-2"><i class="bi bi-geo-alt-fill text-md text-blue-500"></i> {{jobData.location}}</p>
        <h6 class="mt-2">
            <i class="bi bi-cash-coin text-md text-emerald-500"></i>  {{jobData.salary}}
        </h6>
        <div class="mt-2">
            <ul class="inline-flex gap-4 text-sm">
                <li><i class="bi bi-arrow-right-circle-fill text-md text-blue-600"></i> Easily Apply</li>
                <li><i class="bi bi-clock-fill text-md text-rose-500"></i> Urgent Hiring</li>
                <li><i class="bi bi-lightning-fill text-md text-yellow-500"></i> Responsive Seller</li>
            </ul>
        </div>
        <button class="mt-4 py-2 px-3 bg-blue-800 hover:bg-blue-900 text-white rounded ">
            Apply now
        </button>
        <button class="ml-5 peer">
             <i class="bi bi-bookmark text-2xl text-blue-800" ></i>
        </button>
    </div>
    <div class="max-w-lg text-justify z-20 mt-2 px-2 ">
        <h3 class="text-slate-500 font-semibold text-lg">Job Description: </h3>
        <p>{{jobData.description}}</p>
    </div>
</div>