<app-nav class="sticky top-0 z-50 "></app-nav>
<div class="max-w-5xl mx-auto mt-6 px-2 md:px-0 z-30">
    <app-search-jobs (searchVal)="handleSearch($event)"></app-search-jobs>
    <p class="mt-2">  {{'Entries: ' +  page}}</p>

    
    <div class="grid grid-cols-1 lg:grid-cols-2 mt-6 gap-10">
        @for (job of jobsData(); track $index) {
                <app-card (click)="navigate('main' ,job.id)" class="hover:cursor-pointer">
                    <p id="title">{{job.title}}</p>
                    <span id="company">{{job.company}}</span>
                    <span id="location">{{job.location}}</span>
                    <ul id="tags" class="inline-flex flex-wrap gap-2 text-sm">
                        <li class="bg-emerald-200 px-2 rounded-full text-emerald-950" (click)="navigate('view-tag' , job.salary)">{{job.salary}}</li>
                        @for (tag of job.tags; track $index) {
                            <li class="bg-emerald-200 px-2 rounded-full text-emerald-950" (click)="navigate('view-tag' ,tag)">{{tag}}</li>
                        }
                    </ul>
                    <p id="description" class="text-sm">{{job.description}}</p>
                    <small class="time">{{job.postedDate | customDatePipe}} <i class="bi bi-clock-fill text-gray-800"></i></small>
                </app-card>

        }
        @empty {
            <div class=" border mx-2 lg:mx-0 bg-slate-100 p-4">
                <div class="flex justify-center items-center gap-5">
                    <h2 class="text-2xl shake-lr">No jobs found.</h2>
                    <div class="img-container">
                        <img src="https://w7.pngwing.com/pngs/432/198/png-transparent-emoji-smiley-face-smirk-sad-emoji-face-smiley-sticker.png" alt="" class="w-[75px]">
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="mb-24 mt-10 flex justify-evenly gap-4">
        <button [disabled]="page === 0" [class]="page === 0 ? 'bg-indigo-300 text-white py-1 px-3 rounded' : 'bg-indigo-500 text-white py-1 px-3 rounded' " 
        (click)="prevPage()"><i class="bi bi-arrow-left"></i> Prev</button>
        <button [class]="page+1 === totalPage ? 'bg-indigo-300 text-white py-1 px-3 rounded' : 'bg-indigo-500 text-white py-1 px-3 rounded' " 
        (click)="nextPage()">Next <i class="bi bi-arrow-right"></i></button>
    </div>
    
</div>