<app-nav></app-nav>
<div class="max-w-5xl mx-auto mt-6 px-2 md:px-0">
    <app-search-jobs (searchVal)="searchValue($event)"></app-search-jobs>
    {{'Entries: ' +  jobsData().length}}
    <div class="grid grid-cols-1 lg:grid-cols-2 mt-10 gap-10">
        @for (job of jobsData(); track $index) {
            <app-card>
                <p id="title">{{job.position}}</p>
                <span id="company">{{job.company}}</span>
                <span id="location">{{job.location}}</span>
                <ul id="tags" class="inline-flex flex-wrap gap-2 text-sm">
                    <li class="bg-emerald-200 px-2 rounded-full text-emerald-950">{{job.salary}}</li>
                    @for (tag of job.tags; track $index) {
                        <li class="bg-emerald-200 px-2 rounded-full text-emerald-950">{{tag}}</li>
                    }
                </ul>
                <p id="description">{{job.description}}</p>
            </app-card>
        }
    </div>

</div>