<div class=" shadow-md bg-white">
    <div class="flex justify-between py-4">
        <div class=" mx-4">
            <a routerLink="/main" class="text-blue-800 hover:text-blue-500">
                @if (userEmail()) {
                    jobSearch.ph | {{userEmail()}}
                }
                @else {
                    jobSearch.ph
                }
            </a>
        </div>
        <ul class="inline-flex mx-4 md:mx-4 gap-5 md:gap-3">
            <li>
                <a routerLink="/main" >
                    <span [routerLinkActive]="activeClass" class="hidden md:inline text-blue-800 hover:bg-blue-900 hover:text-white px-3 py-1 rounded-full">
                        Jobs
                    </span> 
                    <i class="bi bi-house-fill text-xl md:hidden text-blue-800 hover:text-blue-500" title="Home" routerLinkActive="text-blue-500"></i>
                </a>
            </li>


            <li>
                <a routerLink="/notif" >
                    <span [routerLinkActive]="activeClass" class="hidden md:inline text-blue-800 hover:bg-blue-900 hover:text-white px-3 py-1 rounded-full">Notifications</span>
                    <i class="bi bi-bell-fill text-xl md:hidden text-blue-800 hover:text-blue-500" title="Notifications" routerLinkActive="text-blue-500"></i>
                </a>
            </li>
            <li>
                <a routerLink="/messages" >
                    <span [routerLinkActive]="activeClass" class="hidden md:inline text-blue-800 hover:bg-blue-900 hover:text-white px-3 py-1 rounded-full">Messages</span>
                    <i class="bi bi-chat-dots-fill text-xl md:hidden text-blue-800 hover:text-blue-500" title="Messages" routerLinkActive="text-blue-500"></i>
                </a>
            </li>
            <li class="relative">
                <button (click)="showDropdown = !showDropdown">
                    <span [routerLinkActive]="activeClass" class="hidden md:inline text-blue-800 hover:bg-blue-900 hover:text-white px-3 py-1 rounded-full">Account</span>
                    <i class="bi bi-person-fill-gear text-xl md:hidden text-blue-800 hover:text-blue-500" title="Account" routerLinkActive="text-blue-500"></i>
                </button>
                @if(showDropdown){
                    <div class="min-w-full absolute bottom-0 right-0 translate-y-[110%] bg-white border rounded">
                        <ul class="py-2">
                            <li class="px-2 py-1 text-md hover:bg-blue-800 hover:text-white ">
                                <a routerLink="/account" class="flex gap-2">
                                     Settings <i class="bi bi-gear text-md "></i>
                                </a></li>
                            @if (isUserLogin()) {
                                <li class="px-2 py-1 text-md hover:bg-blue-800 hover:text-white ">
                                    <button type="button" (click)="logOut()" class="flex gap-2">
                                         Logout <i class="bi bi-box-arrow-right text-md "></i>
                                    </button>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </li>
            
            <!-- Render if user login  -->
            @if (!isUserLogin()) {
                <li>
                    <a routerLink="/login">
                        <span [routerLinkActive]="activeClass" class="hidden md:inline text-blue-800 hover:bg-blue-900 hover:text-white px-3 py-1 rounded-full">Login</span>
                        <i class="bi bi-box-arrow-in-right text-xl md:hidden text-blue-800 hover:text-blue-500" title="Account" routerLinkActive="text-blue-500"></i>
                    </a>
                </li>
            }
            <!-- @else {
                <li>
                    <button type="button" (click)="logOut()">
                        <span [routerLinkActive]="activeClass" class="hidden md:inline text-blue-800 hover:bg-blue-900 hover:text-white px-3 py-1 rounded-full">Logout</span>
                        <i class="bi bi-box-arrow-right text-xl md:hidden text-blue-800 hover:text-blue-500" title="Account" routerLinkActive="text-blue-500"></i>
                    </button>
                </li>
            } -->

        </ul>
    </div>
</div>